@model ThirdPartyInsurance.Models.Transaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleMake)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleMake)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BodyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BodyType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
